#iconBoxContainer .owl-carousel .large-12{

    border: 1px solid red !important;
}

#iconBoxContainer .owl-carousel .item{
   
    height: 400px !important;
    width: 100% !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

